/*  */
.btnMenu {
    margin-left: 15px;
    font-size: 14px;
}

footer {
    background-color: #20232a;
    color: #61dafb;
    padding: 0 15px;
  }

  header {
    background-color: #20232a;
    color: #61dafb;
    padding: 0 15px;
  }